.bodyTravelers{
  height: 100dvh;
background-image: url(https://cdn.pixabay.com/photo/2014/08/18/15/47/digital-art-420830_1280.png);
background-size: cover;
padding-top: 30px;
}

.buttontravelers{

  height: 50px;
width: 100%;
background-color: #dd6c04;
color: white;
border: none;
font-family: cursive;
cursor: pointer;
margin: 5px;
transition: background-color 0.3s;
  display: inline-block;
  
}
.active{
  animation: rotateAndBounce 1s ease-in-out infinite;
}

@keyframes rotateAndBounce {
  0% {
    transform: rotate(0deg) translateY(0); 
  }
  25% {
    transform: rotate(10deg) translateY(-5px); 
  }
  50% {
    transform: rotate(0deg) translateY(0); 
  }
  75% {
    transform: rotate(-10deg) translateY(-5px); 
  }
  100% {
    transform: rotate(0deg) translateY(0); 
  }
}

.tripTag{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-family: fantasy;
  animation: pulse 2s infinite ease-in-out;
  margin-bottom: 20px;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Leggero ingrandimento */
  }
  100% {
    transform: scale(1);
  }
}


.titleTravelers{
  margin: 5px;
  padding: 5px;
width: 100%;
text-align: center;
background-color: white;
font-style: italic;
}

.buttonBack{
  color: white;
margin: 5px;
padding: 3px;
cursor: pointer;
background-color: #dd6c04;
border: none;
border-radius: 15px;
padding: 6px;
}

/* card layout */

.containerCard{
  margin-top: 30px;
background-color: white;
border-radius: 10px ;
overflow: hidden;
}

.titleCard{
padding:10px;
text-align: center;
background-color: #dd6c04;

color: white;

}

.dettailsCard{
padding: 10px;

}
.dettailsZone{
  border: 1px solid  #dd6c04;
  padding: 3px;
  font-family: cursive;
  background-color: white;
}