main {
  height: 100vh;
}

html,
body,
#root {
  height: 100% !important;
  margin: 0;
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
}

ul li,
a {
  text-decoration: none;
  color: black;
}
img{
  max-width: 100%;
}

.bodyHome {
 height: max-content;
  background-image: url(https://cdn.pixabay.com/photo/2014/08/18/15/47/digital-art-420830_1280.png);
  background-size: cover;
}


.titleSection {
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





.navstyle {
  display: flex;
  justify-content: center;
  background-color: #ffa141;
  margin-bottom: -2px;
  
}

.homeImg {
  height: 80%;
  object-fit: cover;
}

/* card section */
.titleCard{
  padding:10px;
  text-align: center;
  background-color: #dd6c04;
  border-radius: 10px;
  color: white;
  
  }

  .tripList{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: fantasy;
    margin-bottom: 20px;
  
  }


  .buttonDettails{
   
width: 100%;
background-color: white;
color: black;
border: none;
font-family: cursive;
cursor: pointer;
margin: 5px;
transition: background-color 0.3s;
  display: inline-block;
  text-align: center;
  animation: pulse 2s infinite ease-in-out;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05); /* Leggero ingrandimento */
    }
    100% {
      transform: scale(1);
    }
  }

/* bottini sparsi per le pagine */

.genericButton{
  padding: 12px 15px;
  margin: 13px;
      font-size: 16px;
      font-weight: bold;
      color: white;
      background-color: #dd6c04;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s ease-in-out;
}
.guideButton{
      padding: 5px;
      font-size: 16px;
      font-weight: bold;
      color: white;
      background-color: #dd6c04;
      border: none;
      border-radius: 25px;
      cursor: pointer;
}



.genericButton:hover {
  transform: scale(1.05);
}

.buttonAddTrip{
  padding: 12px 15px;
      font-size: 16px;
      font-weight: bold;
      color: white;
      background-color: #dd6c04;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      transition: all 0.3s ease;
      
}

/* MEDIA QUERY */
@media screen and (max-width: 576px) {
  .buttonAddTrip{
    width: 50px;              
    height: 50px;             
    border-radius: 50%;       
    padding: 0;               
    font-size: 30px;          
    text-align: center;        
    background-color: #dd6c04;
    display: flex;
    justify-content: center;
  }
  .buttonAddTrip span {
  display: none;
}
.buttonAddTrip::before {
  content: "+";
  font-size: 30px;
  display: block;
  text-align: center;
}

}